<div *ngIf="!isChildRouter; else childRouter">
  <form
    nz-form
    [nzLayout]="'inline'"
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="chrome">
          <input formControlName="url" nz-input placeholder="Url" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="clock-circle">
          <nz-range-picker
            formControlName="time"
            nzFormat="yyyy/MM/dd"
          ></nz-range-picker>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">
          Search
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div nz-row style="margin-top: 5px;margin-bottom: 10px;">
    <a nz-button nzType="primary"  (click)="toNew()">New</a>
  </div>
  <nz-table #basicTable nzBordered [nzData]="spiderList">
    <thead>
      <tr>
        <th>Time</th>
        <th>Url</th>
        <th>Seletcor</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data">
        <td>{{ item.time }}</td>
        <td>{{ item.url }}</td>
        <td>{{ item.selector }}</td>
        <td>
          <a (click)="edit(item)">Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="delete(item)">Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<ng-template #childRouter>
  <router-outlet></router-outlet>
</ng-template>
