.box-third {
    .wechat {
        color: #1afa29;
    }
    .github {
        color: #d4237a;
    }
    .weibo {
        color: #13227a;
    }
    .nav-third {
        div {
            font-size: 28px;
        }
    }
}